<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        
            <div class="mb-3">
              <label for="username" class="form-label">Kullanıcı Adı</label>
              <input #txtUserNameOrEmail type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Kullanıcı Adı & Email">
              <small >*****</small>
              <div id="emailHelp" class="form-text"></div>
            </div>     
            <div class="mb-3">
              <label for="password" class="form-label">Şifre</label>
              <input #txtPassword type="password" class="form-control"  id="password" placeholder="Şifre">
              <small >******</small>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" (click)="login(txtUserNameOrEmail.value,
            txtPassword.value)">Giriş Yap</button>
          
    </div>
    <div class="col-md-3"></div>
</div>